{% extends "base.html" %}
{% set active_page = "home" %}
{% block content %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>Speaker Recognition Laboratory</title>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
  	<div class="container">
		<div class="row justify-content-md-center">
			<div class="col-lg-12">
				<div id="content">
					<h1>SPEAKER RECOGNITION LABORATORY</h1>
					<h4>Analyze Your Voice</h4>
					<hr>
					<button class="btn btn-lg" style="background-color: white;" onclick="window.location.href='{{ url_for('operation.analyze') }}'">Analyze</button>
				</div>
			</div>
		</div>
	</div>
  </body>
</html>
{% endblock %}
