{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>

<html>

<head>
  <title>List Database</title>
</head>

<!-- Adding some style to table (OPTIONAL) -->
<body>
  <div class="wrapper fadeInDown" style="justify-content: normal;">
    <div style="text-align: left; max-width: none;">
      <table class="table table-dark" style="background-color: #151515!important;">
        <!-- Table headers -->
        <thead style="text-align: left; background-color:#151515">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nama</th>
          </tr>
        </thead>
        <tbody>
          {%for i in range(0, len)%}
          <tr>
            <td>{{ listid[i] }}</td>
            <td><a href="/profile/{{ listid[i] }}">{{ listnama[i] }}</a></td>
            {%endfor%}
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>

</html>
{% endblock %}
