{% extends "base.html" %}
{% block content %}

<body>
	<div class="wrapper fadeInDown dataTables_wrapper dt-bootstrap4" style="color:white">
		<div class="row">
			<div class="col-3">
				<div id="listContent" style="text-align:left;">
					<div class="mx-3 py-2">
					    <p> 	Nama: {{ nama }}</p>
					    <p> 	Gender : {{ gender }} </p>
					    <p> 	Usia : {{ usia }}</p>
					    <p> 	Asal : {{ asal }} </p>
					</div>
				</div>
			</div>
			<div class="col-9">
				<div id="listContent" class="mx-3 mb-3 mt-1">
					<p>Berkas {{ tree.name }}</p>
					<div style="text-align: left; max-width: none; margin: 1%;">
				        <table class="table table-dark table-striped table-bordered" id="profileList" style="background-color: #151515!important;">
				          <!-- Table headers -->
				          <thead style="text-align: left; background-color:#151515">
				            <tr>
				              <th scope="col">File</th>
				            </tr>
				          </thead>
				          <tbody>
				          	{%- for item in tree.children recursive %}
				            <tr>
				              <td><a href="/static/{{ userid }}/{{ item.name }}">{{ item.name }}</a></td>
				            </tr>
				            {%endfor%}
				          </tbody>
				        </table>
			      	</div>
				</div>
			</div>
		</div>
	</div>
</body>
{% endblock %}
